<a href="https://colab.research.google.com/github/Septianadaw/Septianaweek10/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Sitohang")

my_function("Toha")
my_function("Tohir")
my_function("Tobi")

Toha Sitohang
Tohir Sitohang
Tobi Sitohang

In [ ]:
#This function expects 2 arguments, and gets 2 arguments:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Toha", "Sitohang")

Toha Sitohang

In [ ]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Lekyung", "Jimin", "Tukimin")

The youngest child is Tukimin

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Lekyung", child2 = "Tukimin", child3 = "Jimin")

The youngest child is Jimin

In [ ]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Thanos", lname = "ireng Man")

His last name is ireng Man

In [ ]:
def my_function(country = "Indonesia"):
  print("I am from " + country)

my_function("UEA")
my_function("Arab Saudi")
my_function()
my_function("Malaysia")

I am from UEA
I am from Arab Saudi
I am from Indonesia
I am from Malaysia

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def myfunction():
  pass

In [ ]:
#Recursion Example
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(1)

Recursion Example Results
1

1

WEEKLY EXERCISE 1

In [ ]:
def faktorial(x):
    if x == 1:
        return 1
    else:
        return (x * faktorial(x-1))

faktorial(4)

24

WEEKLY EXERCISE 2

In [4]:

def Luaslingkaran(jarijari):
  return 3.14 * jarijari**2
def Luaspersegi(Panjangsisi):
  return Panjangsisi ** 2
def Luassegitiga(Panjangalas, Tinggi):
  return 0.5 * Panjangalas * Tinggi

while True:
    print('\nPilihan Perhitungan :')
    print('1. Luas Lingkaran :')
    print('2. Luas Persegi :')
    print('3. Luas Segitiga :')
    print('4. Selesai')

    pilihanperhitungan = input('Masukkan Pilihan (1,2,3,4):')

    if pilihanperhitungan == '1':
      jarijari = float(input('Masukkan Jari-Jari Lingkaran :'))
      Luas = Luaslingkaran(jarijari)
      print('Luas Lingkaran :', Luas)
    elif pilihanperhitungan == '2':
      Panjangsisi = float(input('Masukkan Panjang Sisi Persegi :'))
      Luas = Luaspersegi(Panjangsisi)
      print('Luas Persegi :', Luas)
    elif pilihanperhitungan == '3':
      Panjangalas = float(input('Masukkan Panjang Alas Segitiga :'))
      Tinggi = float(input('Masukkan Tinggi Segitiga :'))
      Luas = Luassegitiga(Panjangalas, Tinggi)
      print('Luas Segitiga :', Luas)
    elif pilihanperhitungan == '4':
      break
    else:
      print('Pilihan tidak valid. Silahkan ciba lagi.')

Pilihan Perhitungan :
1. Luas Lingkaran :
2. Luas Persegi :
3. Luas Segitiga :
4. Selesai
Masukkan Pilihan (1,2,3,4):1
Masukkan Jari-Jari Lingkaran :8
Luas Lingkaran : 200.96

Pilihan Perhitungan :
1. Luas Lingkaran :
2. Luas Persegi :
3. Luas Segitiga :
4. Selesai
Masukkan Pilihan (1,2,3,4):2
Masukkan Panjang Sisi Persegi :20
Luas Persegi : 400.0

Pilihan Perhitungan :
1. Luas Lingkaran :
2. Luas Persegi :
3. Luas Segitiga :
4. Selesai
Masukkan Pilihan (1,2,3,4):3
Masukkan Panjang Alas Segitiga :26
Masukkan Tinggi Segitiga :30
Luas Segitiga : 390.0

Pilihan Perhitungan :
1. Luas Lingkaran :
2. Luas Persegi :
3. Luas Segitiga :
4. Selesai
Masukkan Pilihan (1,2,3,4):4